<%= form_for(@vipbbsrsbb) do |f| %>
  <% if @vipbbsrsbb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vipbbsrsbb.errors.count, "error") %> prohibited this vipbbsrsbb from being saved:</h2>

      <ul>
      <% @vipbbsrsbb.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ticket_num %><br />
    <%= f.text_field :ticket_num %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :company_name %><br />
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :company_contact %><br />
    <%= f.text_field :company_contact %>
  </div>
  <div class="field">
    <%= f.label :company_email %><br />
    <%= f.text_field :company_email %>
  </div>
  <div class="field">
    <%= f.hidden_field :flag, :value => 0 %>
    <%= f.select :status, options_for_select([ "false", "true" ]) %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
