<br /><br /><br /><br />
<div class="container">
<h1>VIP BB / SRS BB</h1>
<br />
<ul class="nav-in">
    <li><%= link_to 'Section A', {:action => 'index'}, :class => 'btn btn-danger' %></li>
    <li><%= link_to 'Section B', {:action => 'index_b'}, :class => 'btn btn-danger' %></li>
    <li><%= link_to 'Section C', {:action => 'index_c'}, :class => 'btn btn-danger' %></li>
    <li><%= link_to 'Section D', {:action => 'index_d'}, :class => 'btn btn-danger' %></li>
    <li><%= link_to 'Section E', {:action => 'index_e'}, :class => 'btn btn-danger' %></li>
</ul>
<br />
<table class="table table-striped">
  <tr>
    <th>Ticket #</th>
    <th>Company Name</th>
    <th>Contact</th>
    <th>Email</th>
    <th>Approved</th>
    <% if session[:username] == 'admin' %>
        <th></th>
        <th></th>
        <th></th>
    <% end %>
  </tr>
<% @vipbbsrsbbs.each do |vipbbsrsbb| %>
  <tr id='<%= dom_id vipbbsrsbb %>'>
    <td><%= vipbbsrsbb.ticket_num %></td>
    <td><%= vipbbsrsbb.company_name %></td>
    <td><%= vipbbsrsbb.company_contact %></td>
    <td><%= vipbbsrsbb.company_email %></td>
    <td><%= vipbbsrsbb.status %></td>
    <% if session[:username] == 'admin' %>
        <td><%= link_to 'Show', vipbbsrsbb %></td>
        <td><%= link_to 'Edit', edit_vipbbsrsbb_path(vipbbsrsbb) %></td>
        <td><%= link_to 'Destroy', vipbbsrsbb, confirm: 'Are you sure?', method: :delete, remote: true %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if session[:username] == 'admin' %>
    <%= link_to 'New Reservation', new_vipbbsrsbb_path,:class => 'btn btn-primary' %>
<% end %>
<%= link_to 'View', {:controller => 'Vipbbsrsbbs', :action => 'visual'},:class => 'btn btn-primary' %>
</div>
