<h1>Listing vipbbsrsbbs</h1>

<table>
  <tr>
    <th>Ticket num</th>
    <th>Quantity</th>
    <th>Company name</th>
    <th>Company contact</th>
    <th>Company email</th>
    <th>Approved</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vipbbsrsbbs.each do |vipbbsrsbb| %>
  <tr>
    <td><%= vipbbsrsbb.ticket_num %></td>
    <td><%= vipbbsrsbb.quantity %></td>
    <td><%= vipbbsrsbb.company_name %></td>
    <td><%= vipbbsrsbb.company_contact %></td>
    <td><%= vipbbsrsbb.company_email %></td>
    <td><%= vipbbsrsbb.status %></td>
    <td><%= link_to 'Show', vipbbsrsbb %></td>
    <td><%= link_to 'Edit', edit_vipbbsrsbb_path(vipbbsrsbb) %></td>
    <td><%= link_to 'Destroy', vipbbsrsbb, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reservation', new_vipbbsrsbb_path %>
<%= link_to 'View', :controller => 'Vipbbsrsbbs', :action => 'visual' %>
<%= link_to 'Back to View', :controller => 'Vipbbsrsbbs', :action => 'new' %>

