<p id="notice"><%= notice %></p>

<p>
  <b>Ticket num:</b>
  <%= @vipbbsrsbb.ticket_num %>
</p>
<p>
  <b>Section:</b>
  <%= @vipbbsrsbb.section %>
</p>

<p>
  <b>Company name:</b>
  <%= @vipbbsrsbb.company_name %>
</p>

<p>
  <b>Company contact:</b>
  <%= @vipbbsrsbb.company_contact %>
</p>

<p>
  <b>Company email:</b>
  <%= @vipbbsrsbb.company_email %>
</p>

<p>
  <b>Flag:</b>
  <%= @vipbbsrsbb.flag %>
</p>

<p>
  <b>Approved:</b>
  <%= @vipbbsrsbb.status %>
</p>


<%= link_to 'Edit', edit_vipbbsrsbb_path(@vipbbsrsbb) %> |
<%= link_to 'Back', vipbbsrsbbs_path %>
