<br /><br /><br /><br />
<div class="container">
<p id="notice"><%= notice %></p>


<p>
  <b>Company Name:</b>
  <%= @user.company_name %>
</p>

<p>
  <b>Company Contact:</b>
  <%= @user.company_contact %>
</p>

<p>
  <b>Company Email:</b>
  <%= @user.company_email %>
</p>

<div>
	<p>Reservations</p>
	<p>
		<% @reserves.each do |my| %>
			<%= my.ticket_num %> - <%= my.main_section %><br />
		<% end %>
	</p>
</div>


<%= link_to 'Back', {:action => 'visual'}, :class => 'btn btn-primary' %>
</div>