<div class="container">
	<div class="inner_content">
			<div class="span3">
				<div class="login">
					<h1>Log In</h1>
					<%= form_tag(:action => 'attempt_login') do %>

						<%= label_tag(:username) %>
						<%= text_field_tag(:username) %>

						<%= label_tag(:password) %>
						<%= password_field_tag(:password) %><br/>

						<%= submit_tag('Log In') %>
					<% end %>
					<p id="notice"><%= notice %></p>
				</div>
			</div>
	</div>
</div>